@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Rubik Mono One');

body {
	background-color: #f2f2f2;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 15px;
	color:#555;
	margin-top:70px;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
h1, h2, h4, h5, h6 {
	font-family: "Lobster";
	font-weight: 300;
	color: #000000;
}
h2{
	font-size: 25px;
	font-family: "Rubik Mono One";
	font-weight: 300;
	color: #000;
}
h6{
	font-size: 25px;
	font-family: "Rubik Mono One";
	font-weight: 300;
	color: #002137;
}
	h5{
	font-size: 40px;
	font-family: "Rubik Mono One";
	font-weight: 300;
	color: #000000;
}
	h4{
	font-size: 20px;
	font-family: "Lobster";
	font-weight: 300;
	color: #000000;
}
	h3{
	font-size: 20px;
	font-family: "Roboto";
	font-weight: 300;
	color: #000000;
}
p{
	color: #151719;
	font-family: "Roboto";
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 20px;
}
.centered {
	text-align: center;
}
a {
	color: #f85Ñ37;
}
a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 5px;
}
.navbar-inverse {
	background: #000000;
	border-color: #000000;
}
.navbar-inverse .navbar-nav > .active > a {
	background-color: #151719;
}
.navbar-inverse .navbar-brand {
	color: #999;
	font-family: "Lobster";
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}
#large-header {
	background: url(../images/YW.png) no-repeat center top;
	text-align: center;
	//background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	.large-header h1 {
	margin-top: 180px;
	color: white;
	font-size: 70px;
	//font-weight: 300px;
	letter-specing: 3px;
	}
	#large-header h2 {
		color: white;
		font-size: 30px;
		letter-spacing: 2px;
	}
	.w {
	padding-top: 35px;
}
	.w h4 {
	font-size: 35px;
	}
	#dg {
	background: #e0e0e0;
	padding-top: 20px;
	padding-bottom: 50px;
	text-aling: center;
}
	#dg h4 {
		font-size: 30px;
	}
	#dg1 {
	background: #e0e0e0;
	padding-top: 100px;
	padding-bottom: 50px;
	text-aling: center;
}
	#dg1 h4 {
		font-size: 30px;
	}
.tilt {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.tilt:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.wb {
	padding-top: 35px;
	margin-bottom: 0;
}
.wb h4 {
	font-size: 35px;
}
#lgg {
	background: #ebebeb;
}
#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
#lg h4 {
	font-size: 45px;
}
#r {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
}
#r h4{
	color: black;
	font-size: 45px;
}
#r p{
	color: white;
}
#rr {
	background: #ebebeb;
	padding-top: 110px;
	padding-bottom: 70px;
}
#rr h4{
	color: black;
	font-size: 45px;
}
#rr p{
	color: black;
}
#r1 {
	background: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}
#r1 h4{
	color: black;
	font-size: 45px;
}
#r1 p{
	color: white;
}
#f {
	background: #000000;
	padding-top: 15px;
	padding-bottom: 20px;
}
#f i{
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}
#f i:hover {
	color: #fff;
}
